body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* Ger body space så att allt ligger rätt */
.content {
    flex: 1;
}
/* Storlek och färg på navbar */
.nav-bar {
    height: 20vh;
    background-color: lightblue;
}
/* Style för innehållet i navbar */
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
/* Logga Storlek */
#nav-logo img {
    height: 200px;
}

/* Färg på searchbar bakgrunden */
header {
    background-color: rgb(123, 238, 238);

    text-align: center;
}
/* Searchbar och filter  */
.filter-section {
    padding: 16px;
    width: max-content;
    font-size: 16px;
    display: flex;
    gap: 20px;
    color: #333;
    margin-left: 14px;
    background: f6f6f6;
    padding-bottom: 14px;
}

.filter-section input[type='text'] {
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}
.filter-section label {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Produktkorten */
main {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}
/* Footer  */
footer {
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*  Media Quarry Iphone 12 Pro */

@media (max-width: 390px) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }
    .filter-section {
        flex-direction: column;
        gap: 10px;
        width: auto;
    }
    .material-symbols-outlined {
        color: transparent;
    }
}

/* Media quarry Iphone 14 pro max */

@media ((max-width: 430px) and (min-width: 391px)) {
    footer {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }
    .filter-section {
        flex-direction: column;
        gap: 10px;
        width: auto;
    }
    .material-symbols-outlined {
        color: transparent;
    }
}
