html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/* Ger body space så att allt ligger rätt */
.content {
    flex: 1;
}
/* Storlek och färg på navbar */
.nav-bar {
    height: 10vh;
    background-color: #4d4d4d;
}
/* Style för innehållet i navbar */
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
nav li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Test Logga Storlek */
#nav-logo img {
    max-height: 200px;
}

/* Ny logga stil */

#logo img {
    max-height: 100px;
    margin-top: 10px;
}

/* Färg på searchbar bakgrunden */
header {
    background-color: #595959;

    text-align: center;
}
/* Searchbar och filter  */
.filter-section {
    padding: 16px;
    width: max-content;
    font-size: 16px;
    display: flex;
    gap: 20px;
    color: #333;
    margin-left: 14px;
    padding-bottom: 14px;
}
/* Stil för  */

.filter-section input[type='text'] {
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}
.filter-section label {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Produktkorten */
main {
    flex: 1;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
/* stil för produkter som läggs till från admin */
main .featured-products {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
}
/* Stil för inzoomning glaset eller vad det heter */
.material-symbols-outlined {
    cursor: pointer;
    color: #fff;
}
/* Stil för produkt korten */
main .product-prod {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
}
/* Still för knapparna som visar sida */
.prdoduct-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer  */

footer {
    background: #4d4d4d;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}
Footer .footer-kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #4d4d4d;
}
Footer .footer-om-oss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #4d4d4d;
}
footer .footer-produkter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #4d4d4d;
}

/* Ändrar färgen på text */
footer h3 {
    color: #fff;
}
footer p {
    color: #ccc;
}

/*  Media Quarry Iphone 12 Pro */

@media (max-width: 390px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filter-section {
        flex-direction: column;
        gap: 10px;
        width: auto;
    }
    .material-symbols-outlined {
        color: transparent;
    }
    body {
        overflow-x: hidden;
    }
}

/* Media quarry Iphone 14 pro max */

@media ((max-width: 430px) and (min-width: 391px)) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filter-section {
        flex-direction: column;
        gap: 10px;
        width: auto;
        width: 100%;
        margin-left: 0;
        padding: 8px;
        box-sizing: border-box;
    }
    .material-symbols-outlined {
        color: transparent;
    }
    body {
        overflow-x: hidden;
    }
}
/* Media quarry Tablets */

@media (min-width: 431px) and (max-width: 768px) {
    .filter-section {
        flex-direction: column;
        gap: 10px;
        width: auto;
        width: 100%;
        margin-left: 0;
        padding: 8px;
        box-sizing: border-box;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .material-symbols-outlined {
        color: transparent;
    }
}

/* Media quarry Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .filter-section {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: auto;
    }
    footer {
        display: flex;
        justify-content: space-around;
    }
}

/* Media quarry Desktops */

@media (min-width: 1025px) {
    .filter-section {
        flex-direction: row;
        gap: 20px;
        width: max-content;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
